[tools]
task = "3"
fd = "9.0.0"
gum = "0.13.0"
lazygit = "latest"
yq = "latest"
rust = "latest"
bun = "latest"
yt-dlp = "latest"
go = "latest"
fzf = "latest"
rclone = "latest"
sops = "latest"
age = "latest"
starship = "latest"
uv = "latest"

[task_config]
dir = "{{cwd}}"
includes = [
  "~/configs/bin/bin"
]

[settings]
python_venv_auto_create = true
sops.age_key_file = "~/configs/sops/.config/sops/age/keys.txt"
idiomatic_version_file_enable_tools = ["node"]
experimental = true

[env]
_.file = "~/configs/mise/.config/mise/.env.json"
_.path = [
  "{{cwd}}/node_modules/.bin",
]
EDITOR = "zed"
RUST_LOG = "info"
HUSKY = 0
