[color "decorate"]
  HEAD = bold italic 196
  branch = 214
  tag = bold 222

[log]

[alias]
st = status
br = branch -a -v
reset-tag = “!f() { git tag -d $1 && git push origin :$1 && git tag $1 && git push origin $1; }; f”
del = branch -D
clear = stash clear
nome = branch --no-merged
ls = log --pretty=format:“%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]” --decorate
ll = log --pretty=format:“%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]” --decorate --numstat
le = log --oneline --decorate
la = “!git config -l | grep alias | cut -c 7-”
sl = stash list
sa = stash apply
ss = stash save
cm= commit --message
aa= add --al
ca= commit --amend
rm-ignored=git ls-files -i --exclude-from=.gitignore | xargs git rm --cached
[init]
	defaultBranch = main
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge --skip -- %f
	process = git-lfs filter-process --skip
	required = true
[core]
	excludesfile = /Users/tihav/.gitignore_global
	editor = nvim
	ignorecase = false
	autocrlf = false
[commit]
	gpgsign = true
